@model ToonViewModel

<div class="text-left">
    <h1 class="display-8">@ViewData["Title"]</h1>
    <p>Enter a name and pick an order</p>
    <form method="POST">
        <div class="fields">
            <div class="field">
                <label asp-for="Name"></label>
                <input asp-for="Name" />
            </div>
            <div class="field">
                <label asp-for="Order"></label>
                <select asp-for="Order">
                    <option>Jedi</option>
                    <option>Sith</option>
                </select>
            </div>
            <div class="field">
                <button type="submit">Submit</button>
            </div>
        </div>
    </form>
    <ul>
        @foreach (ToonViewModel toon in ViewBag.Toons)
        {
            <li>@toon.Name - @toon.Order</li>
        }
    </ul>
</div>
