@model ToonViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="display-8">Event-driven architecture demo</h1>
    <p>Select <a class="text-info" asp-area="" asp-controller="Sync">sync</a> or <a class="text-info" asp-area="" asp-controller="Async">async</a> method</p>
</div>
